
.mission__title{
  width: 1360px;
  height: 78px;
  background: #F8F9FA;
  font-size: 20px;
  line-height: 78px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  margin-top: 75px;
}

.mission__desc{
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #777777;
  margin-top: 31px;
  .line2{
    margin-left: -3px;
    margin-top: 1px;
  }
  div{
    display: none;
  }
}
.mission__img{
  margin: 0 auto;
  margin-top: 23px;
  width: 1280px;
  height: 350px;
  border-radius: 5px;
  background: url("../img/misson-back.png");
}
.mission__list{
  width: 1280px;
  margin: 0 auto;
  font-size: 20px;
  color: #333333;
  line-height: 26px;
  .list__title{
    margin-top: 36px;
    margin-left: -2px;
  }
  .mission__item{
    list-style: none;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
  }
  ul{
    margin-top: 13px;
  }

}
.about--video{
  background: #f9f9f9;
  height: 264px;
  padding-top: 44px;
  margin-top: 62px;
  .video__block{
    background: black;
    width: 100%;
    height: 220px;
    .video-play{
      position: relative;
      top: 26%;
      left: 47.5%;
      width: 100px;
      height: 100px;
      padding-left: 10px;
      padding-top: 3px;
      background: url("../img/video-play.block.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
.about--info{
  background: #f9f9f9;
  padding-top: 44px;

}
.doublelist{
  width: 1360px;
  height: 466px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  margin: 0 auto;
  .line{
    border-bottom: 1px solid #E2E2E2;
    width: 1280px;
    margin: 0 auto;
    margin-top: 32px;
  }

}
.doublelist__title{
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin-top: 52px;
  margin-left: 48px;
}
.doublelist__desc{
  width: 62%;
  margin-left: 48px;
  margin-top: 17px;
  line-height: 24px;
}
.doublelist__wrapper{
  display: flex;
  justify-content: space-between;
  margin: 36px 43px 0 47px;
  color: #333333;
  ul{
    margin-top: 22px;
  }
  li{
    list-style: none;
    margin-top: 9px;
  }
}
.checked-boxes{
  width: 1360px;
  margin: 0 auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 577px 577px;
  grid-column-gap: 100px;
  grid-template-rows: 117px 126px;
  max-width: 1360px;
  grid-row-gap: 9px;
  img{
    margin-right: 21px;
  }
  .checked-boxes__item:nth-child(4){
    width: 546px;
  }

}
.checked-boxes__item{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  p{
    line-height: 24px;
  }
}
.info-bottom{
  padding-bottom: 98px;
}
.info-bottom__ipad{
  display: none;
  background: url("../img/handshake-ipad.png") no-repeat;
  width: 994.58px;
  height: 180px;
  margin:0 auto;
}
.info-bottom__block{
  background: white url("../img/handshake.png") no-repeat;
  display: flex;
  justify-content: end;
  width: 1360px;
  height: 180px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 30px 32px 0 0;
  line-height: 24px;
  span{
    display: block;
    width: 807px;
  }
}
.info-bottom__btn{
  margin-top: 19px;
  padding-right: 3px;
  display: block;
  text-decoration: none;
  width: 230px;
  height: 50px;
  background: #fff;
  border: 1px solid #cecece;
  border-radius: 100px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #333;

}

@media (max-width: 1365px) {
  .mission__title,.mission__img,.doublelist,.info-bottom__block,.checked-boxes,.mission__list{
    font-size: 16px;
    width: 100%;

  }
  .doublelist{
    .line{
      width: 90%;

    }
  }
  .mission__list,.checked-boxes{
    padding-left: 20px;
  }
  .checked-boxes{
    grid-template-columns: 40% 40%;

  }
  .info-bottom__block span{
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .mission{
    background: #fff;
    margin-top: -30px;
    padding-top: 46px;
  }
  .mission__title{
    padding-top: 24px;
    line-height: 24px;
    margin-top: -15px;
    height: 100px;
    width: 92%;
  }
  .mission__desc{
    p{
      display: none;
    }
    div{
      display: block;
      width: 708px;
      margin: 0 auto;
      margin-top: 35px;
      line-height: 22px;
    }
  }
  .mission__img{
    background: url("../img/mission-back-i.png");
    width: 708px;
    height: 193px;
    margin: 0 auto;
    margin-top: 34px;
  }
  .mission__list{
    padding-left: 32px;
    ul{
      margin-top: 5px;
      margin-left: -2px;
    }
    .list__title{
      margin-top: 32px;
    }
  }
  .about--video{
    margin-top: 33px;
    height: inherit;
    .video__block{
      width: 709px;
      height: 277px;
      margin: 0 auto;
      .video-play{
        top: 40%;
        left: 47.3%;
        width: 41px;
        height: 40px;
      }
    }
  }
  .about--info{
    background: #f9f9f9;
  }
  .doublelist{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 708px;
    margin-top: -20px;
    height: inherit;
    padding-bottom: 4px;
  }
  .doublelist__title{
    margin-top: 34px;
    margin-left: 14px;
  }
  .doublelist__desc{
    margin-left: 14px;
    margin-top: 20px;
    width: 96%;
  }
  .doublelist__wrapper{
    margin: 26px -18px 0 13px;
    padding-bottom: 30px;
    .right {
      width: 553px;
      margin-right: 53px;
      margin-left: 31px;
    }
    ul{
      margin-top: 7px;
      line-height: 28px;
      }
    li{
      margin-top: 0;
      }
  }

  .checked-boxes{
    grid-template-columns: 333px 1fr;
    grid-column-gap: 24px;
    width: 708px;
    height: 390px;
    margin-top: 50px;
    grid-row-gap: 58px;
    padding-left: 0;
    margin-left: 26px;
    .checked-boxes__item:nth-child(1){
      width: 347px;
    }
    .checked-boxes__item:nth-child(2){
      width: 335px;
    }
    .checked-boxes__item:nth-child(3){

    }
    .checked-boxes__item:nth-child(4){
      width: 339px;
    }
    img{
      margin-right: 14px;
    }
  }
  .info-bottom{
    padding-bottom: 38px;
    margin-bottom: 73px;
  }
  .info-bottom__ipad{
    display: block;
    width: 706.58px;
  }
  .info-bottom__block{
    padding: 0;
    display: block;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: inherit;
    margin-top: 40px;
    width: 708px;
  }
  .info-bottom__btn{
    margin-left: 14px;
    margin-top: 26px;
    margin-bottom: 34px;
  }
  .info-bottom__desc{
    width: 681px;
    margin: 27px 0 0 15px;
  }
  .doublelist{
    .line{
      width: 95%;
      margin-top: 19px;

    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 525px) {
  .mission__title{
    height: 170px;
    padding: 18px;
    padding-top: 23px;
    width: 265px;
    margin-top: 0px;
    text-align: center;
  }
  .mission__desc{
    div{
      width: 261px;
      margin: 0 auto;
      margin-top: -4px;

    }

  }
  .mission__img{
    background: url("../img/mission-back-m.png");
    width: 280px;
    height: 76.28px;
    margin-top: 29px;

  }
  .mission__list {
    padding-left: 16px;
    padding-bottom: 32px;


    .list__title{
      margin-top: 22px;
      margin-left: -4px;
      width: 232px;
      line-height: 24px;
    }
    ul{
      margin-top: 21px;
      margin-left: -4px;
      width: 268px;
      margin-bottom: 14px;
    }
  }
  .about--body{
    background: #f9f9f9;
  }
  .mission{
    background: #FFFFFF;
    width: 289px;
    margin: 0 auto;
    margin-top: -12px;
    padding-top: 30px;
  }
  .about--video{
   .video__block{
     width: 100%;
     .video-play{
       top: 22%;
       left: 34.5%;
       width: 100px;
       height: 100px;
     }
   }
    margin-top: -25px;
    height: 250px;
    padding-top: 29px;
  }
  .doublelist{
    width: 290px;
    margin-top: -14px;
    .line{
      width: 92%;
      margin-top: 32px;
    }
  }
  .doublelist__title{
    font-size: 16px;
    line-height: 24px;
    margin-top: 31px;
    margin-left: 12px;
  }
  .doublelist__desc{
    font-size: 15px;
    line-height: 22px;
    width: 252px;
    margin-left: 12px;
    margin-top: 17px;
  }
  .doublelist__wrapper{
    flex-wrap: wrap;
    padding-bottom: 22px;
    ul{
      margin-top: 1px;
    }
    .left{
      width: 273px;
      margin-top: 8px;
      margin-left: -1px;
    }
    .right{
      margin-top: 24px;

    }
    .list-one__title{
      line-height: 24px;
      margin-top: -2px;
    }
    .list-two{
      margin-top: 8px;
      width: 265px;
    }
  }
  .checked-boxes{
    margin-top: 52px;
    margin-left: 15px;
    grid-template-columns: 1fr;
    width: 290px;
    grid-template-rows: 1fr;
    grid-row-gap: 38px;
    height: inherit;
    .checked-boxes__item:nth-child(1){
      width: 264px;

    }
    .checked-boxes__item:nth-child(2){
      width: 286px;
    }
    .checked-boxes__item:nth-child(3){
      width: 283px;
    }
    .checked-boxes__item:nth-child(4){
      width: 290px;

    }
    img{
      margin-left: -2px;
    }
  }
  .checked-boxes__item{
    display: block;
  }
  .mob1{
    margin-top: 10px;
    img{
      margin-top: -5px;
      margin-left: -2px;
    }
    p{
      margin-top: 4px;
    }
  }
  .mob2{
    margin-top: -2px;
    img{
      margin-left: -1px;
      margin-top: -3px;
    }
    p{
      margin-top: 4px;
    }
  }
  .mob3{
    margin-top: -1px;
    img{
      margin-left: -1px;
      margin-top: -8px;
    }
    p{
      margin-top: 8px;

    }
  }
  .info-bottom__ipad{
    background: url("../img/handshake-M.png") no-repeat;
    height: 76px;
    margin-top: -1px;

  }
  .info-bottom__block{
    margin-top: 43px;
    width: 290px;
  }
  .info-bottom__desc{
    width: 265px;
    margin: 16px 0px 0 12px;
  }
  .info-bottom__btn{
    margin-left: 29px;
    margin-top: 27px;
    margin-bottom: 35px;
    padding-right: 5px;

  }
  .info-bottom{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

